<section class="contact" id="contact">
  <div class="content">
    <div class="title"><span>Contact Me</span></div>
    <div class="text">
      <div class="topic">Have Any Project?</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam neque ipsum corrupti dolores, facere numquam voluptate aspernatur sit perferendis qui nisi modi! Recusandae deserunt consequatur voluptatibus alias repellendus nobis eligendi.</p>
      <div class="button">
        <button><a href="#">Let's Chat</a></button>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="text">
    <span>&#169; 2021 All Rights Reserved</span>
  </div>
</footer>
