<section class="about" id="about">
  <div class="content">
    <div class="title"><span>About Me</span></div>
  <div class="about-details">
    <div class="left">
      <img src="../assets/background1.png" alt="">
    </div>
    <div class="right">
      <div class="topic">Programming Is My Passion</div>
      <p>A Software Engineer with 2+ years experience in several languages and frameworks like Python, Javascript,
       C#, .NET, ASP.NET and React.
       Being a graduate of Engineering coupled with my passion for solving problem with the use of Tech.
       puts me in a unique position to be able provide creative solutions to the issues faced by businesses.
        I am also an avid reader as I love learning new things so as to be up-to-date on new trends in the world of Tech.</p>
      <div class="button">
        <button>Download CV</button>
      </div>
    </div>
  </div>
  </div>
</section>